package ${REPOSITORY_INTERFACE_PACKAGE};

import org.appverse.web.framework.backend.persistence.services.integration.IJPAPersistenceService;
${ADDITIONAL_IMPORTS}

public interface ${REPOSITORY_INTERFACE_NAME} extends IJPAPersistenceService<${REPOSITORY_BEAN_NAME}> {

}
